@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText/SFUIText_Bold.eot");
  src: url("../fonts/SFUIText/SFUIText_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText/SFUIText_Bold.woff2") format("woff2"), url("../fonts/SFUIText/SFUIText_Bold.woff") format("woff"), url("../fonts/SFUIText/SFUIText_Bold.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText_Bold.otf") format("opentype"), url("../fonts/SFUIText/SFUIText_Bold.svg#SF UI Text Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText/SFUIText_Light.eot");
  src: url("../fonts/SFUIText/SFUIText_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText/SFUIText_Light.woff2") format("woff2"), url("../fonts/SFUIText/SFUIText_Light.woff") format("woff"), url("../fonts/SFUIText/SFUIText_Light.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText_Light.otf") format("opentype"), url("../fonts/SFUIText/SFUIText_Light.svg#SF UI Text Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText/SFUIText_Medium.eot");
  src: url("../fonts/SFUIText/SFUIText_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText/SFUIText_Medium.woff2") format("woff2"), url("../fonts/SFUIText/SFUIText_Medium.woff") format("woff"), url("../fonts/SFUIText/SFUIText_Medium.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText_Medium.otf") format("opentype"), url("../fonts/SFUIText/SFUIText_Medium.svg#SF UI Text Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText/SFUIText_Regular.eot");
  src: url("../fonts/SFUIText/SFUIText_Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText/SFUIText_Regular.woff2") format("woff2"), url("../fonts/SFUIText/SFUIText_Regular.woff") format("woff"), url("../fonts/SFUIText/SFUIText_Regular.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText_Regular.otf") format("opentype"), url("../fonts/SFUIText/SFUIText_Regular.svg#SF UI Text Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText/SFUIText_Semibold.eot");
  src: url("../fonts/SFUIText/SFUIText_Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText/SFUIText_Semibold.woff2") format("woff2"), url("../fonts/SFUIText/SFUIText_Semibold.woff") format("woff"), url("../fonts/SFUIText/SFUIText_Semibold.ttf") format("truetype"), url("../fonts/SFUIText/SFUIText_Semibold.otf") format("opentype"), url("../fonts/SFUIText/SFUIText_Semibold.svg#SF UI Text Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
  src: local("MuseoSansCyrl-500Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
  src: local("MuseoSansCyrl-700Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
  src: local("Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1230px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1229.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1230px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  height: 50px;
  outline: none;
  color: #808080;
  padding: 1.4rem;
  overflow: hidden;
  background: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_control::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #808080;
}
.form_control::-webkit-input-placeholder {
  color: #808080;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_control.error {
  border-color: brown;
}

textarea.form_control {
  height: auto;
}

.form_group {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .form_group {
    margin-bottom: 20px;
  }
}

.btn {
  color: #000;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 20px 32px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #ffd200;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #000;
  background: #fbdc4e;
}
.btn:focus, .btn.focus {
  outline: 0;
}
@media (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.btn_gray {
  color: #fff;
  background: #8a9199;
}
.btn_gray:hover {
  color: #fff;
  background: #696b6e;
}

.btn_blue {
  color: #003f6b;
  background: #00a0cc;
}
.btn_blue:hover {
  color: #003f6b;
  background: #fff;
}

.btn_md {
  font-size: 1.2rem;
  padding: 1.3rem 3.2rem;
}

.btn_border {
  width: 100%;
  color: #003f6b;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-weight: 700;
  user-select: none;
  font-size: 1.8rem;
  position: relative;
  line-height: 2.2rem;
  white-space: nowrap;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #003f6b;
  background: transparent;
  text-transform: uppercase;
  padding: 22px 38px 22px 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.btn_border i {
  position: absolute;
  display: inline-block;
}
.btn_border .ico-svg {
  fill: #003f6b;
}
.btn_border:hover {
  color: #fff;
  background: #003f6b;
}
.btn_border:hover .ico-svg {
  fill: #fff;
}
.btn_border.btn_pdf {
  padding-left: 100px;
}
.btn_border.btn_pdf i {
  top: 25px;
  left: 40px;
  width: 38px;
  height: 37px;
}
.btn_border.btn_youtube {
  padding-left: 132px;
}
.btn_border.btn_youtube i {
  top: 25px;
  left: 60px;
  width: 52px;
  height: 37px;
}

.btn_send {
  padding: 15px 32px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 1200;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.header .container {
  height: 36px;
  padding-top: 8px;
  position: relative;
}
.header__logo {
  width: 139px;
  height: 15px;
  display: block;
  margin: 0 auto;
}
.header__logo .ico-svg .cls-1 {
  fill: #003f6b;
}
.header__logo .ico-svg .cls-2 {
  fill: #1bb9e6;
}
.header__phone {
  top: 0;
  left: 15px;
  width: 36px;
  height: 36px;
  position: absolute;
  background: #2eb8e4;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header__phone i {
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  margin: -9px 0 0 -9px;
  display: inline-block;
}
.header__phone .ico-svg {
  fill: #fff;
}
.header__phone span {
  display: none;
}
.header__cart {
  top: 0;
  right: 15px;
  width: 36px;
  height: 36px;
  position: absolute;
  background: #2eb8e4;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.header__cart i {
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  margin: -9px 0 0 -9px;
  display: inline-block;
}
.header__cart .ico-svg {
  fill: #fff;
}
.header__cart span {
  display: none;
}
.header__cart_mobile {
  display: inline-block;
}
.header__cart_desktop {
  display: none;
}
@media (min-width: 768px) {
  .header {
    padding: 15px 0;
    border-bottom: none;
    position: absolute;
    background: transparent;
  }
  .header .container {
    padding-top: 0;
    height: auto;
  }
  .header__logo {
    width: 170px;
    height: 19px;
    margin: 0;
  }
  .header__logo .ico-svg .cls-1 {
    fill: #fff;
  }
  .header__logo .ico-svg .cls-2 {
    fill: #1bb9e6;
  }
  .header__phone {
    left: auto;
    right: 160px;
    width: auto;
    height: auto;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding-left: 28px;
    text-decoration: none;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  .header__phone:hover {
    color: #fff;
    text-decoration: none;
  }
  .header__phone i {
    left: 0;
    margin-left: 0;
  }
  .header__phone .ico-svg {
    fill: #2eb7e2;
  }
  .header__phone span {
    display: inline;
  }
  .header__cart {
    width: auto;
    height: auto;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding-left: 28px;
    text-decoration: none;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  .header__cart:hover {
    color: #fff;
    text-decoration: none;
  }
  .header__cart i {
    left: 0;
    margin-left: 0;
  }
  .header__cart .ico-svg {
    fill: #2eb7e2;
  }
  .header__cart span {
    display: inline;
  }
  .header__cart_mobile {
    display: none;
  }
  .header__cart_desktop {
    display: inline-block;
  }
}
@media (min-width: 1230px) {
  .header {
    position: fixed;
  }
}

.fp-viewing-1 .header__logo .ico-svg .cls-1,
.fp-viewing-3 .header__logo .ico-svg .cls-1,
.fp-viewing-5 .header__logo .ico-svg .cls-1 {
  fill: #003f6b;
}
.fp-viewing-1 .header__logo .ico-svg .cls-2,
.fp-viewing-3 .header__logo .ico-svg .cls-2,
.fp-viewing-5 .header__logo .ico-svg .cls-2 {
  fill: #1bb9e6;
}
.fp-viewing-1 .header__phone,
.fp-viewing-3 .header__phone,
.fp-viewing-5 .header__phone {
  color: #000;
}
.fp-viewing-1 .header__phone:hover,
.fp-viewing-3 .header__phone:hover,
.fp-viewing-5 .header__phone:hover {
  color: #000;
}
.fp-viewing-1 .header__cart,
.fp-viewing-3 .header__cart,
.fp-viewing-5 .header__cart {
  color: #000;
}
.fp-viewing-1 .header__cart:hover,
.fp-viewing-3 .header__cart:hover,
.fp-viewing-5 .header__cart:hover {
  color: #000;
}

.fp-viewing-6 .header {
  background: rgba(255, 255, 255, 0.8);
}
.fp-viewing-6 .header__logo .ico-svg .cls-1 {
  fill: #003f6b;
}
.fp-viewing-6 .header__logo .ico-svg .cls-2 {
  fill: #1bb9e6;
}
.fp-viewing-6 .header__phone {
  color: #000;
}
.fp-viewing-6 .header__phone .ico-svg {
  fill: #003f6b;
}
.fp-viewing-6 .header__phone:hover {
  color: #000;
}
.fp-viewing-6 .header__cart {
  color: #000;
}
.fp-viewing-6 .header__cart .ico-svg {
  fill: #003f6b;
}
.fp-viewing-6 .header__cart:hover {
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "SF UI Text", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.625;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: "Museo Sans", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Museo Sans", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Museo Sans", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Museo Sans", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Museo Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Museo Sans", Arial, sans-serif;
}

p {
  padding: 0;
  margin: 0 0 10px 0;
}

a {
  outline: none;
  color: #48afe2;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.first {
  color: #fff;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
  background: url("../img/b01__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.first:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(0, 63, 107, 0.9);
}
.first__heading {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.first__reason {
  margin: 0;
  padding: 0;
  list-style: none;
}
.first__reason li {
  text-align: center;
}
.first__reason li:first-child {
  margin-bottom: 30px;
}
.first__reason li strong {
  display: block;
  font-size: 3rem;
  line-height: 3.2rem;
  font-family: "Museo Sans", Arial, sans-serif;
}
.first__reason li span {
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.first__reason li span i {
  font-style: normal;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 3px solid #2eb8e4;
}
.first .container {
  z-index: 50;
  position: relative;
}
@media (min-width: 768px) {
  .first {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .first__heading {
    font-size: 8rem;
    line-height: 8rem;
    text-align: left;
    padding-left: 200px;
    margin-bottom: 50px;
    background: url("../img/b01__wather.png") 0 15px no-repeat;
  }
  .first__reason {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .first__reason li {
    text-align: left;
  }
  .first__reason li:first-child {
    width: 300px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .first__reason li:last-child {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .first:before {
    opacity: 1;
    visibility: visible;
  }
  .first__reason li:first-child {
    width: 400px;
  }
  .first__reason li span {
    font-size: 2.1rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
  }
  .first__reason li strong {
    font-size: 3.8rem;
    line-height: 4rem;
  }
}
@media (min-width: 1230px) {
  .first {
    padding: 0;
  }
  .first .container {
    padding: 50px 0;
  }
  .first__wrap {
    margin: 0 auto;
    max-width: 970px;
  }
  .first__heading {
    margin-bottom: 80px;
  }
  .first__reason li:first-child {
    width: 380px;
  }
  .first__reason li span {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
  .first__reason li strong {
    font-size: 4.8rem;
    line-height: 5rem;
  }
}
@media (min-width: 1400px) {
  .first__heading {
    font-size: 10rem;
    line-height: 10rem;
  }
}
@media (min-width: 992px) and (max-height: 768px) {
  .first__reason li:first-child {
    width: 380px;
  }
  .first__reason li span {
    font-size: 2.1rem;
    line-height: 2.4rem;
  }
  .first__reason li strong {
    font-size: 3.8rem;
    line-height: 4rem;
  }
}

.second {
  color: #000;
  z-index: 10;
  background: #fff;
  padding-top: 45px;
  padding-bottom: 20px;
}
.second__title {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.second__list {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.second__list li {
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding: 85px 15px 0 15px;
}
.second__list li i {
  display: none;
}
.second__list li:nth-child(1) {
  background: url("../img/second__icon_01.svg") 50% 0 no-repeat;
}
.second__list li:nth-child(2) {
  background: url("../img/second__icon_02.svg") 50% 0 no-repeat;
}
.second__list li:nth-child(3) {
  background: url("../img/second__icon_03.svg") 50% 0 no-repeat;
}
.second__list li:nth-child(4) {
  background: url("../img/second__icon_04.svg") 50% 0 no-repeat;
}
.second__list li:nth-child(5) {
  background: url("../img/second__icon_05.svg") 50% 0 no-repeat;
}
.second__list li:nth-child(6) {
  background: url("../img/second__icon_06.svg") 50% 0 no-repeat;
}
.second__image {
  display: none;
  width: 370px;
  position: relative;
  padding: 0 0 80px 0;
}
.second__image:before {
  right: 0;
  top: 100px;
  z-index: 1;
  content: "";
  width: 201px;
  height: 72px;
  display: block;
  position: absolute;
  background: url("../img/icon_blue_line.svg") 0 0 no-repeat;
}
.second__image:after {
  bottom: 0;
  left: 62px;
  z-index: 1;
  content: "";
  width: 147px;
  height: 52px;
  display: block;
  position: absolute;
  background: url("../img/icon_gray_fluid.svg") 0 0 no-repeat;
}
.second__image_item {
  z-index: 20;
  width: 270px;
  height: 270px;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .second {
    padding-top: 70px;
  }
  .second__title {
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 50px;
  }
  .second__list li {
    width: 33.33%;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .second__list li {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 992px) {
  .second {
    padding-top: 100px;
  }
  .second__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .second__left {
    padding-top: 115px;
    width: 570px;
  }
  .second__right {
    width: 370px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .second__title {
    font-size: 4.8rem;
    line-height: 5rem;
    margin-bottom: 80px;
  }
  .second__image {
    display: block;
  }
}
@media (min-width: 1230px) {
  .second {
    padding: 0;
  }
  .second .container {
    padding: 50px 0;
  }
  .second__left {
    margin-left: 100px;
  }
}
@media (min-width: 992px) and (max-height: 768px) {
  .second__left {
    padding-top: 20px;
  }
  .second__title {
    margin-bottom: 40px;
  }
  .second__list:nth-child(4), .second__list:nth-child(5), .second__list:nth-child(6) {
    margin-bottom: 0;
  }
}

.third {
  color: #fff;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  background: #044269;
}
.third:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(0, 63, 107, 0.85);
}
.third__heading {
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Museo Sans", Arial, sans-serif;
}
.third__heading span {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  margin-bottom: 10px;
}
.third__heading strong {
  display: block;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.third__image {
  display: block;
  width: 290px;
  margin: 0 auto;
  position: relative;
}
.third__image:before {
  right: 0;
  top: 85px;
  z-index: 1;
  content: "";
  width: 158px;
  height: 57px;
  display: block;
  position: absolute;
  background: url("../img/icon_blue_line.svg") 0 0 no-repeat;
  background-size: cover;
}
.third__image_item {
  z-index: 20;
  width: 215px;
  height: 215px;
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.third__row {
  margin-bottom: 40px;
}
.third__advantage {
  padding: 0;
  list-style: none;
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.third__advantage li {
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 40px;
  padding: 85px 5px 0 5px;
}
.third__advantage li:nth-child(1) {
  background: url("../img/third__icon_01.svg") 50% 0 no-repeat;
}
.third__advantage li:nth-child(2) {
  background: url("../img/third__icon_02.svg") 50% 0 no-repeat;
}
.third__advantage li:nth-child(3) {
  background: url("../img/third__icon_03.svg") 50% 0 no-repeat;
}
.third__advantage li:nth-child(4) {
  background: url("../img/third__icon_04.svg") 50% 0 no-repeat;
}
.third__advantage li:nth-child(5) {
  background: url("../img/third__icon_05.svg") 50% 0 no-repeat;
}
.third__advantage li:nth-child(6) {
  background: url("../img/third__icon_06.svg") 50% 0 no-repeat;
}
.third .container {
  z-index: 100;
  position: relative;
}
@media (min-width: 576px) {
  .third__advantage li {
    width: 33.33%;
  }
}
@media (min-width: 768px) {
  .third {
    padding-top: 100px;
  }
  .third__heading {
    text-align: left;
    margin-bottom: 0;
  }
  .third__heading span {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 20px;
  }
  .third__heading strong {
    font-size: 7rem;
    line-height: 7rem;
  }
  .third__row {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .third__left {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .third__right {
    width: 270px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .third__advantage {
    margin-bottom: 20px;
  }
  .third__advantage li {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .third {
    padding-bottom: 70px;
    background: #044269 url("../img/third__bg.jpg") 50% 50% no-repeat;
  }
  .third:before {
    opacity: 1;
    visibility: visible;
  }
  .third__heading {
    text-align: left;
  }
  .third__heading span {
    font-size: 6.2rem;
    line-height: 8rem;
  }
  .third__heading strong {
    font-size: 8rem;
    line-height: 8rem;
  }
  .third__image {
    width: 370px;
  }
  .third__image:before {
    top: 100px;
    width: 201px;
    height: 72px;
  }
  .third__image_item {
    width: 270px;
    height: 270px;
  }
  .third__right {
    width: 370px;
  }
}
@media (min-width: 1230px) {
  .third {
    padding: 0;
  }
  .third .container {
    padding: 50px 0;
  }
  .third__heading {
    text-align: left;
    margin-left: 100px;
  }
  .third__heading span {
    font-size: 7.2rem;
    line-height: 10rem;
  }
  .third__heading strong {
    font-size: 10rem;
    line-height: 10rem;
  }
  .third__advantage li {
    width: 16.66%;
  }
  .third__right {
    padding-top: 30px;
  }
}
@media (min-width: 1400px) {
  .third__advantage li {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-top: 95px;
  }
}
@media (min-width: 992px) and (max-height: 768px) {
  .third__row {
    margin-bottom: 30px;
  }
  .third__heading {
    text-align: left;
    margin-left: 100px;
  }
  .third__heading span {
    font-size: 5.2rem;
    line-height: 5.5rem;
  }
  .third__heading strong {
    font-size: 7rem;
    line-height: 7rem;
  }
  .third__left {
    padding-top: 50px;
  }
  .third__advantage li {
    margin-bottom: 0;
  }
}

.fourth {
  z-index: 10;
  background: #fff;
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 50px;
}
.fourth__heading {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.fourth__mobile {
  max-width: calc(100% + 15px);
  margin-right: -15px;
  margin-bottom: 35px;
  position: relative;
}
.fourth__mobile_image {
  width: 620px;
}
.fourth__mobile_point {
  z-index: 10;
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 4px 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  font-style: normal;
  position: absolute;
  background: #1bb9e6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fourth__mobile_point.point_01 {
  top: 60px;
  left: 110px;
}
.fourth__mobile_point.point_02 {
  top: 82px;
  left: 38px;
}
.fourth__mobile_point.point_03 {
  top: 130px;
  left: 103px;
}
.fourth__mobile_point.point_04 {
  top: 105px;
  left: 240px;
}
.fourth__desktop {
  display: none;
  width: 1037px;
}
.fourth__info {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fourth__info li {
  color: #5c6166;
  font-size: 1.4rem;
  line-height: 1.8rem;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
}
.fourth__info li i {
  top: 0;
  left: 0;
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 4px 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  font-style: normal;
  position: absolute;
  background: #1bb9e6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fourth__info li strong {
  color: #000;
  display: block;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
.fourth__info li span {
  display: block;
}
.fourth__button {
  padding-top: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .fourth {
    padding-top: 80px;
  }
  .fourth__heading {
    font-size: 4rem;
    line-height: 4.3rem;
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .fourth__heading {
    text-align: left;
  }
}
@media (min-width: 1230px) {
  .fourth {
    padding: 0;
  }
  .fourth .container {
    padding: 50px 0;
  }
  .fourth__heading {
    z-index: 10;
    font-size: 6rem;
    position: relative;
    margin-left: 100px;
    line-height: 6.5rem;
    margin-bottom: 0;
  }
  .fourth__content {
    z-index: 1;
    padding-left: 15px;
    position: relative;
    margin-top: -120px;
  }
  .fourth__mobile {
    display: none;
  }
  .fourth__desktop {
    display: block;
  }
  .fourth__info {
    margin-bottom: 160px;
  }
  .fourth__info li {
    font-size: 1.6rem;
    line-height: 2.2rem;
    position: absolute;
    padding: 30px 0 0 30px;
  }
  .fourth__info li i {
    width: 30px;
    height: 30px;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  .fourth__info li strong {
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 15px;
  }
  .fourth__info li:nth-child(1) {
    left: 800px;
    top: -10px;
    width: 370px;
  }
  .fourth__info li:nth-child(2) {
    left: 10px;
    top: 100%;
    width: 410px;
    margin-top: -20px;
  }
  .fourth__info li:nth-child(3) {
    left: 600px;
    top: 100%;
    width: 410px;
    margin-top: -65px;
  }
  .fourth__button {
    text-align: right;
  }
}
@media (min-width: 992px) and (max-height: 768px) {
  .fourth .container {
    padding-top: 40px;
    padding-bottom: 0;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
  }
  .fourth .btn_scroll_dark {
    display: none;
  }
  .fourth__heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .fourth__button {
    display: none;
  }
  .fourth .fp-scroller {
    overflow: hidden;
  }
  .fourth .iScrollVerticalScrollbar {
    display: none;
  }
}

.fifth {
  color: #fff;
  z-index: 20;
  position: relative;
  padding-top: 50px;
  background: #003f6b;
  padding-bottom: 30px;
}
.fifth__heading {
  text-align: center;
  font-family: "Museo Sans", Arial, sans-serif;
}
.fifth__heading span {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 15px;
}
.fifth__heading strong {
  display: block;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fifth__text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 30px;
}
.fifth__subtitle {
  width: 190px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0 auto 30px auto;
}
.fifth__seasons {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fifth__seasons li {
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
  padding: 85px 5px 0 5px;
}
.fifth__seasons li:nth-child(1) {
  background: url("../img/fifth__icon_01.svg") 50% 0 no-repeat;
}
.fifth__seasons li:nth-child(2) {
  background: url("../img/fifth__icon_02.svg") 50% 0 no-repeat;
}
.fifth__seasons li:nth-child(3) {
  background: url("../img/fifth__icon_03.svg") 50% 0 no-repeat;
}
.fifth__seasons li:nth-child(4) {
  background: url("../img/fifth__icon_04.svg") 50% 0 no-repeat;
}
.fifth__seasons_title {
  font-size: 0;
  line-height: 0;
}
.fifth__seasons_title a {
  width: 100%;
  color: #fff;
  max-width: 160px;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 0.9rem 3rem;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #1bb9e6;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.fifth__seasons_title a:hover {
  color: #fff;
  background: #1bb9e6;
}
.fifth__seasons_button {
  display: none;
}
@media (min-width: 768px) {
  .fifth {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .fifth__text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 25px;
  }
  .fifth__subtitle {
    width: 100%;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 70px;
  }
  .fifth__seasons li {
    width: 25%;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .fifth__seasons li {
    padding-top: 100px;
    position: relative;
  }
  .fifth__seasons li:before {
    right: 0;
    top: 20px;
    bottom: 20px;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    background: #1bb9e6;
  }
  .fifth__seasons li:last-child:before {
    display: none;
  }
  .fifth__seasons_title {
    margin-bottom: 35px;
  }
  .fifth__seasons_title a {
    padding: 0;
    border: none;
    font-size: 4rem;
    line-height: 4rem;
    max-width: inherit;
    background: transparent;
  }
  .fifth__seasons_title a:hover {
    background: transparent;
  }
  .fifth__seasons_button {
    display: block;
  }
}
@media (min-width: 1230px) {
  .fifth {
    padding: 0;
  }
  .fifth .container {
    padding: 50px 0;
  }
  .fifth__heading {
    text-align: center;
    font-family: "Museo Sans", Arial, sans-serif;
  }
  .fifth__heading span {
    font-size: 6rem;
    line-height: 6.4rem;
    margin-bottom: 25px;
  }
  .fifth__heading strong {
    font-size: 9rem;
    line-height: 9.4rem;
    margin-bottom: 70px;
  }
  .fifth__seasons_title a {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media (min-width: 992px) and (max-height: 768px) {
  .fifth__heading span {
    font-size: 4rem;
    line-height: 4.4rem;
    margin-bottom: 25px;
  }
  .fifth__heading strong {
    font-size: 5.5rem;
    line-height: 6rem;
    margin-bottom: 50px;
  }
  .fifth__subtitle {
    margin-bottom: 10px;
  }
  .fifth__seasons {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}

#section6 {
  z-index: 20;
  position: relative;
}

.sixth {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f2f0f3 url("../img/sixth__bg.png") 50% -250px no-repeat;
}
.sixth__heading {
  color: #fff;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.sixth__content {
  margin: 0 auto;
  max-width: 970px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.sixth__column {
  width: 50%;
}
.sixth__elem {
  position: relative;
  background: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sixth__elem_image {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sixth__elem_content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  color: #fff;
  padding: 15px 15px;
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sixth__elem_content_wrap {
  width: 100%;
  margin: auto 0;
}
.sixth__elem_icon {
  margin: 0 auto 12px auto;
}
.sixth__elem strong {
  display: block;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: "Museo Sans", Arial, sans-serif;
}
.sixth__elem span {
  display: none;
}
.sixth__elem.elem_01 .sixth__elem_icon {
  width: 60px;
}
.sixth__elem.elem_02 .sixth__elem_icon {
  width: 37px;
}
.sixth__elem.elem_03 .sixth__elem_icon {
  width: 60px;
}
.sixth__elem.elem_04 .sixth__elem_icon {
  width: 59px;
}
.sixth__elem.elem_05 .sixth__elem_icon {
  width: 54px;
}
.sixth__elem.elem_06 .sixth__elem_icon {
  width: 56px;
}
.sixth__elem:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sixth__elem:hover .sixth__elem_content {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sixth__elem:hover .sixth__elem_image {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .sixth {
    padding-top: 140px;
    padding-bottom: 100px;
    background-position: 50% 0;
  }
  .sixth__heading {
    max-width: 630px;
    font-size: 4.8rem;
    line-height: 5.4rem;
    margin: 0 auto 6rem auto;
  }
  .sixth__elem strong {
    font-size: 3.4rem;
    line-height: 3.8rem;
  }
  .sixth__elem.elem_01 .sixth__elem_icon {
    width: 100px;
  }
  .sixth__elem.elem_02 .sixth__elem_icon {
    width: 63px;
  }
  .sixth__elem.elem_03 .sixth__elem_icon {
    width: 100px;
  }
  .sixth__elem.elem_04 .sixth__elem_icon {
    width: 100px;
  }
  .sixth__elem.elem_05 .sixth__elem_icon {
    width: 100px;
  }
  .sixth__elem.elem_06 .sixth__elem_icon {
    width: 100px;
  }
}
@media (min-width: 992px) {
  .sixth {
    padding-bottom: 100px;
  }
  .sixth__elem strong {
    font-size: 4.8rem;
    line-height: 5rem;
    margin-bottom: 25px;
  }
  .sixth__elem span {
    display: block;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

.seventh {
  z-index: 5;
  overflow: hidden;
  color: #003f6b;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}
.seventh:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
}
.seventh .container {
  z-index: 50;
  position: relative;
}
.seventh__heading {
  text-align: center;
  font-family: "Museo Sans", Arial, sans-serif;
}
.seventh__heading span {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 15px;
}
.seventh__heading strong {
  display: block;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.seventh__text {
  width: 240px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: center;
  margin: 0 auto 35px auto;
  font-family: "Museo Sans", Arial, sans-serif;
}
.seventh__button {
  padding: 0;
  list-style: none;
  max-width: 290px;
  margin: 0 auto 30px auto;
}
.seventh__button > li:first-child {
  margin-bottom: 20px;
}
.seventh__bottom {
  margin: 0;
  padding: 0;
  list-style: none;
}
.seventh__bottom > li:last-child {
  display: none;
}
.seventh__info {
  color: #000;
  margin: 0 auto;
  max-width: 290px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-left: 75px;
  position: relative;
}
.seventh__info i {
  top: 0;
  left: 0;
  width: 66px;
  height: 36px;
  position: absolute;
}
.seventh__info .ico-svg {
  fill: #003f6b;
}
@media (min-width: 768px) {
  .seventh {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .seventh__button {
    width: 640px;
    max-width: inherit;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .seventh__button li {
    width: 50%;
    padding: 0 15px;
  }
  .seventh__button li:first-child {
    margin-bottom: 0;
  }
  .seventh__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .seventh__bottom > li {
    width: 50%;
  }
  .seventh__bottom > li:last-child {
    display: block;
    text-align: right;
  }
  .seventh__info {
    margin: 10px 0 0 0;
  }
}
@media (min-width: 992px) {
  .seventh {
    background: url("../img/seventh__bg.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  .seventh:before {
    opacity: 1;
    visibility: visible;
  }
  .seventh__heading {
    margin-bottom: 50px;
  }
  .seventh__heading span {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 3.8rem;
  }
  .seventh__heading strong {
    font-size: 6.2rem;
    line-height: 6.2rem;
  }
  .seventh__text {
    width: 500px;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 50px;
  }
}
@media (min-width: 1230px) {
  .seventh {
    padding: 0;
  }
  .seventh .container {
    padding: 50px 0;
  }
  .seventh__heading {
    margin-bottom: 50px;
  }
  .seventh__heading span {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .seventh__heading strong {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }
  .seventh__text {
    width: 500px;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 50px;
  }
  .seventh__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .seventh__bottom > li {
    width: 50%;
  }
  .seventh__bottom > li:last-child {
    display: block;
    text-align: right;
    padding-top: 80px;
  }
  .seventh__info {
    margin: 0;
    max-width: 360px;
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding: 80px 0 0 0;
  }
  .seventh__info i {
    width: 111px;
    height: 60px;
  }
}
@media (min-width: 1400px) {
  .seventh__text {
    width: 580px;
    font-size: 3.6rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) and (max-height: 768px) {
  .seventh__heading {
    margin-bottom: 35px;
  }
  .seventh__heading span {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
  .seventh__heading strong {
    font-size: 5.2rem;
    line-height: 5.2rem;
  }
  .seventh__info {
    max-width: 480px;
    padding: 0 0 0 140px;
  }
  .seventh__bottom > li:last-child {
    padding-top: 0;
  }
}

.eighth {
  color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}
.eighth__product {
  margin-bottom: 30px;
}
.eighth__content {
  margin-bottom: 30px;
}
.eighth__heading {
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 1px;
  font-family: "SF UI Text", Arial, sans-serif;
}
.eighth__heading span {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 10px;
}
.eighth__heading strong {
  display: block;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.eighth__images {
  padding: 0;
  margin: 0 auto;
  max-width: 405px;
  list-style: none;
}
.eighth__purchase {
  margin: 0 -15px;
  background: #f2f2f2;
  padding: 25px 15px 30px 15px;
}
.eighth__purchase_title {
  display: none;
}
.eighth__purchase_table {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}
.eighth__purchase_table td {
  padding: 4px 0;
}
.eighth__purchase_table td:last-child {
  color: #8a9199;
  text-align: right;
}
.eighth__purchase_total {
  margin-bottom: 25px;
}
.eighth__purchase_total span {
  display: none;
  color: #8a9199;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 15px;
}
.eighth__purchase_total strong {
  display: block;
  font-size: 4rem;
  line-height: 4rem;
}
.eighth__purchase .btn {
  width: 100%;
}
.eighth__text {
  color: #5c6166;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.eighth__text_intro {
  display: block;
}
.eighth__text_intro a {
  color: #044269;
  text-decoration: underline;
}
.eighth__text_intro a:hover {
  color: #044269;
  text-decoration: none;
}
.eighth__text_content {
  display: none;
}
.eighth__text.open .eighth__text_intro a {
  display: none;
}
.eighth__text.open .eighth__text_content {
  display: block;
}
.eighth__tabs_nav {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.eighth__tabs_nav li {
  width: 50%;
}
.eighth__tabs_nav li a {
  width: 100%;
  display: table;
  color: #044269;
  cursor: pointer;
  text-decoration: none;
}
.eighth__tabs_nav li a span {
  height: 50px;
  color: #044269;
  padding: 5px 10px;
  font-size: 1.4rem;
  text-align: center;
  display: table-cell;
  line-height: 1.6rem;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #044269;
}
.eighth__tabs_nav li a:hover {
  color: #fff;
  text-decoration: none;
}
.eighth__tabs_nav li a:hover span {
  color: #fff;
  background: #044269;
}
.eighth__tabs_nav li.active a {
  color: #fff;
  text-decoration: none;
}
.eighth__tabs_nav li.active a span {
  color: #fff;
  background: #044269;
}
.eighth__tabs_nav li:first-child a span {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.eighth__tabs_nav li:last-child a span {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.eighth__tabs_item {
  display: none;
}
.eighth__tabs_item.active {
  display: block;
}
.eighth__params {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.eighth__params li {
  color: #5c6166;
  margin-bottom: 10px;
}
.eighth__params li strong {
  color: #000;
}
.eighth__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.eighth__list li {
  color: #5c6166;
  margin-bottom: 10px;
  padding-left: 20px;
  background: url("../img/icon_plus.png") 0 3px no-repeat;
}
.eighth__desktop {
  display: none;
}
@media (min-width: 768px) {
  .eighth {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .eighth__product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .eighth__content {
    margin: 0;
    padding-right: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .eighth__purchase {
    margin: 0;
    width: 300px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }
  .eighth__heading {
    text-align: left;
  }
  .eighth__images {
    max-width: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .eighth__mobile {
    display: none;
  }
  .eighth__desktop {
    color: #5c6166;
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .eighth__desktop h3 {
    color: #000;
    padding: 0;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin: 0 0 20px 0;
  }
  .eighth__desktop p {
    margin-bottom: 30px;
  }
  .eighth__params {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 992px) {
  .eighth__heading {
    margin-bottom: 40px;
  }
  .eighth__heading span {
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .eighth__heading strong {
    font-size: 6rem;
    line-height: 6.2rem;
  }
  .eighth__purchase_title {
    display: block;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 30px;
  }
  .eighth__purchase_table {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
  }
}
@media (min-width: 1230px) {
  .eighth__heading {
    margin-bottom: 55px;
  }
  .eighth__heading span {
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: 15px;
  }
  .eighth__heading strong {
    font-size: 9rem;
    line-height: 9rem;
  }
  .eighth__purchase {
    width: 370px;
    padding: 45px 35px;
  }
  .eighth__purchase_title {
    margin-right: -10px;
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
  .eighth__purchase_table td {
    padding: 5px 0;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .eighth__purchase_total {
    margin-bottom: 45px;
  }
  .eighth__purchase_total span {
    display: block;
  }
  .eighth__purchase_total strong {
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .eighth__desktop {
    width: 774px;
  }
}

.ninth {
  color: #fff;
  padding: 50px 0;
  background: #044269;
}
.ninth__heading {
  line-height: 1;
  font-weight: 900;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.ninth__delivery {
  max-width: 300px;
  margin: 0 auto 30px auto;
  padding: 0;
  list-style: none;
}
.ninth__delivery li {
  min-height: 40px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  position: relative;
  padding-left: 75px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.ninth__delivery li span {
  padding-right: 10px;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ninth__delivery li strong {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  white-space: nowrap;
}
.ninth__delivery li:before {
  left: 0;
  top: 3px;
  content: "";
  display: block;
  position: absolute;
}
.ninth__delivery li:nth-child(1):before {
  width: 50px;
  height: 32px;
  background: url("../img/ninth__icon_01.svg") 0 0 no-repeat;
  background-size: cover;
}
.ninth__delivery li:nth-child(2):before {
  width: 50px;
  height: 38px;
  background: url("../img/ninth__icon_02.svg") 0 0 no-repeat;
  background-size: cover;
}
.ninth__delivery li:nth-child(3):before {
  left: 4px;
  width: 41px;
  height: 45px;
  background: url("../img/ninth__icon_03.svg") 0 0 no-repeat;
  background-size: cover;
}
.ninth__payment {
  max-width: 300px;
  margin: 0 auto;
  min-height: 40px;
  position: relative;
  padding-left: 75px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.ninth__payment:before {
  left: 0;
  top: 3px;
  content: "";
  width: 44px;
  height: 38px;
  display: block;
  position: absolute;
  background: url("../img/ninth__icon_04.svg") 0 0 no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .ninth {
    padding: 90px 0;
  }
  .ninth__heading {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 70px;
  }
  .ninth__delivery {
    max-width: 830px;
    margin-bottom: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .ninth__delivery li {
    width: 33.33%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 0;
    padding: 90px 15px 0 15px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ninth__delivery li span {
    display: block;
    padding-bottom: 15px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .ninth__delivery li strong {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .ninth__delivery li:before {
    top: 0;
    left: 50%;
  }
  .ninth__delivery li:after {
    right: 0;
    top: 20px;
    width: 1px;
    bottom: 2px;
    content: "";
    display: block;
    position: absolute;
    background: #1bb9e6;
  }
  .ninth__delivery li:nth-child(1):before {
    left: 50%;
    width: 70px;
    height: 45px;
    margin-left: -35px;
  }
  .ninth__delivery li:nth-child(2):before {
    left: 50%;
    width: 70px;
    height: 54px;
    margin-left: -35px;
  }
  .ninth__delivery li:nth-child(3):before {
    left: 50%;
    width: 57px;
    height: 61px;
    margin-left: -28px;
  }
  .ninth__delivery li:nth-child(3):after {
    display: none;
  }
  .ninth__payment {
    max-width: 400px;
    min-height: 53px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: 90px;
    padding-top: 10px;
  }
  .ninth__payment:before {
    width: 60px;
    height: 53px;
  }
}
@media (min-width: 992px) {
  .ninth__heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-bottom: 95px;
  }
  .ninth__delivery {
    margin-bottom: 70px;
  }
  .ninth__delivery li {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .ninth__payment {
    max-width: 420px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-top: 7px;
  }
}

.tenth {
  padding: 50px 0;
  background: #f2f2f2;
}
.tenth__heading {
  color: #000;
  font-weight: 900;
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.6rem;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.tenth__faq {
  padding: 0;
  margin: 0 auto 20px auto;
  max-width: 970px;
  list-style: none;
}
.tenth__faq > li {
  background: #fff;
  border-bottom: 2px solid #f2f2f2;
}
.tenth__faq > li.open .tenth__faq_question a:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tenth__faq > li.open .tenth__faq_question a:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tenth__faq > li.open .tenth__faq_answer {
  display: block;
}
.tenth__faq_question {
  color: #000;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  position: relative;
  padding: 15px 50px 15px 15px;
}
.tenth__faq_question a {
  top: 15px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
}
.tenth__faq_question a:after, .tenth__faq_question a:before {
  top: 50%;
  left: 50%;
  z-index: 5;
  width: 24px;
  height: 2px;
  content: "";
  position: absolute;
  background: #949494;
  margin: -1px 0 0 -12px;
}
.tenth__faq_question a:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.tenth__faq_answer {
  color: #5c6166;
  display: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 0 15px 15px 15px;
}
@media (min-width: 768px) {
  .tenth {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .tenth__heading {
    font-size: 3.6rem;
    line-height: 3.8rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 992px) {
  .tenth__faq {
    margin-bottom: 40px;
  }
  .tenth__faq_question {
    font-size: 2.4rem;
    line-height: 3rem;
    padding: 30px 70px 30px 35px;
  }
  .tenth__faq_question a {
    top: 30px;
    right: 30px;
  }
  .tenth__faq_answer {
    color: #000;
    margin-top: -10px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0 70px 30px 35px;
  }
}
@media (min-width: 1230px) {
  .tenth {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .tenth__heading {
    font-size: 4.8rem;
    line-height: 5rem;
    margin-bottom: 70px;
  }
}

.footer {
  color: #fff;
  padding: 50px 0;
  background: #2e3033;
}
.footer__logo {
  width: 140px;
  height: 16px;
  display: block;
  margin: 0 auto 40px auto;
}
.footer__logo .ico-svg .cls-1 {
  fill: #fff;
}
.footer__logo .ico-svg .cls-2 {
  fill: #8b9199;
}
.footer__social {
  padding: 0;
  width: 260px;
  list-style: none;
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.footer__social li {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
}
.footer__social li a {
  width: 40px;
  height: 40px;
  color: #2e3033;
  padding: 10px 0;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #8a9199;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.footer__social li a:hover {
  color: #2e3033;
  background: #fff;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.footer__copy {
  color: #8a9199;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}
.footer__copy span {
  display: block;
}
.footer__contact {
  padding: 0;
  list-style: none;
  margin: 0 0 30px 0;
  text-align: center;
}
.footer__contact > li {
  margin-bottom: 20px;
}
.footer__contact > li span {
  color: #8a9199;
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.footer__contact > li:last-child a {
  color: #8a9199;
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: underline;
}
.footer__contact > li:last-child a:hover {
  color: #8a9199;
  text-decoration: none;
}
.footer__tel {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  text-decoration: none;
}
.footer__tel:hover {
  color: #fff;
  text-decoration: none;
}
.footer__email {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  text-decoration: none;
}
.footer__email:hover {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 95px;
    padding-bottom: 90px;
  }
  .footer__row {
    width: 100%;
    margin: 0 auto;
    max-width: 970px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__logo {
    margin: 0 0 40px 0;
  }
  .footer__social {
    width: 100%;
    margin: 0 0 45px 0;
    max-width: inherit;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    -moz-justify-content: left;
    justify-content: left;
  }
  .footer__social li {
    margin-right: 20px;
  }
  .footer__copy {
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .footer__contact {
    margin: 0;
    text-align: left;
  }
  .footer__contact > li {
    margin-bottom: 15px;
  }
  .footer__contact > li:last-child {
    margin-bottom: 0;
  }
}

.video_bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  max-height: 100vh;
  max-width: 100vw;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 992px) {
  .video_bg {
    visibility: visible;
    opacity: 1;
  }
}

.btn_scroll {
  left: 50%;
  width: 18px;
  height: 46px;
  bottom: 20px;
  z-index: 100;
  margin-left: -9px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_scroll.svg") 0 0 no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1230px) {
  .btn_scroll {
    visibility: visible;
    opacity: 1;
  }
}

.btn_scroll_dark {
  left: 50%;
  width: 18px;
  height: 46px;
  bottom: 20px;
  z-index: 100;
  margin-left: -9px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_scroll_dark.svg") 0 0 no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1230px) {
  .btn_scroll_dark {
    visibility: visible;
    opacity: 1;
  }
}

.order_mobile {
  left: 0;
  right: 0;
  top: 56px;
  width: 100%;
  display: none;
  z-index: 1200;
  position: fixed;
  background: #fff;
  overflow-y: auto;
  max-height: calc(100vh - 56px);
  height: calc(100vh - 56px);
}
.order_mobile__wrap {
  padding: 25px 15px;
}
.order_mobile__title {
  color: #000;
  font-weight: 900;
  font-size: 2.4rem;
  text-align: center;
  line-height: 2.6rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.order_mobile__text {
  color: #5c6166;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 35px;
}
.order_mobile .btn {
  width: 100%;
  margin-top: 10px;
}

.open_mobile .order_mobile {
  display: block;
}
.open_mobile .header__cart_mobile {
  background: #ffd200;
}
.open_mobile .header__cart_mobile .ico-svg {
  fill: #000;
}
@media (min-width: 768px) {
  .open_mobile .order_mobile {
    display: none;
  }
}

.modal {
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.modal__wrap {
  width: 100%;
  min-height: 100%;
  padding: 40px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.modal__container {
  margin: auto;
}
.modal__title {
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.modal__text {
  max-width: 720px;
  color: #5c6166;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0 auto 40px auto;
}
.modal__form {
  max-width: 374px;
  margin: 0 auto;
}
.modal__form .btn {
  width: 100%;
}
.modal.modal_blue {
  color: #fff;
  background: #2eb8e4;
}
.modal .thanks_text {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
}
.modal .thanks_text p {
  margin-bottom: 40px;
}
.modal .modal_close {
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  border: 1px solid #fff;
  background: url("../img/icon_ok.svg") 50% 50% no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .modal__text {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .modal .thanks_text {
    font-size: 5rem;
    line-height: 5.6rem;
  }
  .modal .thanks_text p {
    margin-bottom: 40px;
  }
}

.season {
  margin: 0 auto;
}
.season__header {
  padding: 0;
  list-style: none;
  margin: 0 0 25px 0;
}
.season__header li:first-child {
  margin-bottom: 30px;
}
.season__title {
  padding-left: 70px;
  position: relative;
  display: inline-block;
}
.season__title:before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  display: inline-block;
}
.season__title span {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.season__title strong {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4rem;
  text-transform: uppercase;
  font-family: "Museo Sans", Arial, sans-serif;
}
.season__title.season_winter:before {
  width: 52px;
  height: 60px;
  background: url("../img/icon__season_winter.svg") 0 0 no-repeat;
  background-size: cover;
}
.season__title.season_spring:before {
  width: 60px;
  height: 57px;
  background: url("../img/icon__season_spring.svg") 0 0 no-repeat;
  background-size: cover;
}
.season__title.season_summer:before {
  width: 60px;
  height: 60px;
  background: url("../img/icon__season_spring.svg") 0 0 no-repeat;
  background-size: cover;
}
.season__title.season_autumn:before {
  width: 60px;
  height: 60px;
  background: url("../img/icon__season_autumn.svg") 0 0 no-repeat;
  background-size: cover;
}
.season__image {
  width: 255px;
  position: relative;
}
.season__image:before {
  right: 0;
  top: 60px;
  z-index: 1;
  content: "";
  width: 158px;
  height: 57px;
  display: block;
  position: absolute;
  background: url("../img/icon_blue_line.svg") 0 0 no-repeat;
  background-size: cover;
}
.season__image_wrap {
  z-index: 10;
  width: 171px;
  height: 171px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.season__content {
  margin: 0;
  padding: 0;
  color: #5c6166;
  font-size: 1.4rem;
  line-height: 1.8rem;
  list-style: none;
}
.season__content h3 {
  color: #000;
  display: none;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 0 0 20px 0;
}
.season__text {
  display: none;
}
.season__text_mobile {
  display: block;
}
.season .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.season .list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  background: url("../img/icon_plus.png") 0 7px no-repeat;
}
.season__footer {
  display: none;
  text-align: right;
}
@media (min-width: 768px) {
  .season {
    max-width: 720px;
  }
  .season__header {
    margin-bottom: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .season__header li:first-child {
    width: 400px;
    padding-top: 25px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .season__title {
    padding: 0 80px 0 0;
  }
  .season__title:before {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
  }
  .season__title span {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 17px;
    margin-bottom: 10px;
    position: relative;
  }
  .season__title span:before {
    left: 0;
    bottom: 0;
    content: "";
    width: 70px;
    height: 3px;
    display: block;
    position: absolute;
    background: #2eb8e4;
  }
  .season__title strong {
    font-size: 6rem;
    line-height: 6rem;
  }
  .season__title.season_winter:before {
    width: 62px;
    height: 70px;
  }
  .season__title.season_spring:before {
    width: 70px;
    height: 65px;
  }
  .season__title.season_summer:before {
    width: 70px;
    height: 70px;
  }
  .season__title.season_autumn:before {
    width: 70px;
    height: 70px;
  }
  .season__content {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .season__content > li {
    width: 50%;
    padding: 0 15px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .season__content > li:last-child {
    display: none;
  }
  .season__content h3 {
    display: block;
  }
  .season__text {
    display: block;
  }
  .season__footer {
    display: block;
    padding-top: 80px;
  }
}
@media (min-width: 992px) {
  .season {
    max-width: 970px;
  }
  .season__content > li:last-child {
    display: block;
  }
}
@media (min-width: 768px) {
  .season {
    max-width: 1200px;
  }
}

.fancybox-slide > * {
  margin: 0 !important;
}

.fancybox-close-small:after, .fancybox-close-small:before {
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  content: "";
  outline: none;
  background: #000;
  position: absolute;
  margin: -1px 0 0 -15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.fancybox-close-small:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fancybox-close-small:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fancybox-close-small:hover:after, .fancybox-close-small:hover:before {
  opacity: 1;
  background: #000;
}
@media (min-width: 768px) {
  .fancybox-close-small {
    top: 10px;
    right: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
