.first {
	color: #fff;
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 40px;
	position: relative;
	background: url("../img/b01__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: rgba(0, 63, 107, 0.90);
	}

	&__heading {
		font-size: 4rem;
		font-weight: 900;
		line-height: 4rem;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__reason {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			text-align: center;

			&:first-child {
				margin-bottom: 30px;
			}

			strong {
				display: block;
				font-size: 3rem;
				line-height: 3.2rem;
				font-family: $font-family-head
			}

			span {
				display: block;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2rem;
				position: relative;
				margin-bottom: 15px;
				letter-spacing: 2px;
				text-transform: uppercase;

				i {
					font-style: normal;
					padding-bottom: 5px;
					display: inline-block;
					border-bottom: 3px solid #2eb8e4;
				}
			}
		}
	}

	.container {
		z-index: 50;
		position: relative;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 140px;
		padding-bottom: 80px;

		&__heading {
			font-size: 8rem;
			line-height: 8rem;
			text-align: left;
			padding-left: 200px;
			margin-bottom: 50px;
			background: url("../img/b01__wather.png") 0 15px no-repeat;
		}

		&__reason {
			@include flexbox();

			li {
				text-align: left;

				&:first-child {
					width: 300px;
					margin-bottom: 0;
					@include flex-shrink(0);
				}

				&:last-child {
					@include flex-grow(1);
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&:before {
			opacity: 1;
			visibility: visible;
		}

		&__reason {

			li {

				&:first-child {
					width: 400px;
				}

				span {
					font-size: 2.1rem;
					line-height: 2.4rem;
					margin-bottom: 20px;
				}

				strong {
					font-size: 3.8rem;
					line-height: 4rem;
				}
			}
		}
	}


	@media (min-width: $screen-xl-min) {
		padding: 0;

		.container {
			padding: 50px 0;
		}

		&__wrap {
			margin: 0 auto;
			max-width: 970px;
		}

		&__heading {
			margin-bottom: 80px;
		}

		&__reason {

			li {

				&:first-child {
					width: 380px;
				}

				span {
					font-size: 2.1rem;
					line-height: 2.4rem;
				}

				strong {
					font-size: 4.8rem;
					line-height: 5rem;
				}
			}
		}
	}

	@media (min-width: 1400px) {

		&__heading {
			font-size: 10rem;
			line-height: 10rem;
		}
	}

	@media (min-width: $screen-lg-min) and (max-height: 768px) {


		&__reason {

			li {

				&:first-child {
					width: 380px;
				}

				span {
					font-size: 2.1rem;
					line-height: 2.4rem;
				}

				strong {
					font-size: 3.8rem;
					line-height: 4rem;
				}
			}
		}
	}
}


.second {
	color: #000;
	z-index: 10;
	background: #fff;
	padding-top: 45px;
	padding-bottom: 20px;

	&__title {
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__list {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 50%;
			font-size: 1.4rem;
			line-height: 1.8rem;
			position: relative;
			text-align: center;
			margin-bottom: 30px;
			padding: 85px 15px 0 15px;

			i {
				display: none;
			}

			&:nth-child(1) {
				background: url("../img/second__icon_01.svg") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/second__icon_02.svg") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/second__icon_03.svg") 50% 0 no-repeat;
			}

			&:nth-child(4) {
				background: url("../img/second__icon_04.svg") 50% 0 no-repeat;
			}

			&:nth-child(5) {
				background: url("../img/second__icon_05.svg") 50% 0 no-repeat;
			}

			&:nth-child(6) {
				background: url("../img/second__icon_06.svg") 50% 0 no-repeat;
			}
		}
	}

	&__image {
		display: none;
		width: 370px;
		position: relative;
		padding: 0 0 80px 0;

		&:before {
			right: 0;
			top: 100px;
			z-index: 1;
			content: '';
			width: 201px;
			height: 72px;
			display: block;
			position: absolute;
			background: url("../img/icon_blue_line.svg") 0 0 no-repeat;
		}

		&:after {
			bottom: 0;
			left: 62px;
			z-index: 1;
			content: '';
			width: 147px;
			height: 52px;
			display: block;
			position: absolute;
			background: url("../img/icon_gray_fluid.svg") 0 0 no-repeat;
		}


		&_item {
			z-index: 20;
			width: 270px;
			height: 270px;
			display: block;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
		}

	}

	@media (min-width: $screen-sm-min) {
		padding-top: 70px;

		&__title {
			font-size: 3rem;
			line-height: 3.6rem;
			margin-bottom: 50px;
		}

		&__list {

			li {
				width: 33.33%;
				margin-bottom: 50px;
			}
		}

	}

	@media (min-width: $screen-md-min) {

		&__list {

			li {
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 100px;

		&__wrap {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__left {
			padding-top: 115px;
			width: 570px;
		}

		&__right {
			width: 370px;
			@include flex-shrink(0);
		}

		&__title {
			font-size: 4.8rem;
			line-height: 5rem;
			margin-bottom: 80px;
		}

		&__image {
			display: block;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 0;

		.container {
			padding: 50px 0;
		}

		&__left {
			margin-left: 100px;
		}
	}

	@media (min-width: $screen-lg-min) and (max-height: 768px) {

		&__left {
			padding-top: 20px;
		}

		&__title {
			margin-bottom: 40px;
		}

		&__list {

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				margin-bottom: 0;
			}
		}
	}
}


.third {
	color: #fff;
	overflow: hidden;
	position: relative;
	padding-top: 50px;
	padding-bottom: 30px;
	background: #044269;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: rgba(0, 63, 107, 0.85);
	}

	&__heading {
		font-size: 0;
		line-height: 0;
		text-align: center;
		margin-bottom: 30px;
		font-family: $font-family-head;

		span {
			display: block;
			font-size: 3rem;
			font-weight: 500;
			line-height: 4rem;
			margin-bottom: 10px;
		}

		strong {
			display: block;
			font-size: 4rem;
			font-weight: 900;
			line-height: 4rem;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	&__image {
		display: block;
		width: 290px;
		margin: 0 auto;
		position: relative;

		&:before {
			right: 0;
			top: 85px;
			z-index: 1;
			content: '';
			width: 158px;
			height: 57px;
			display: block;
			position: absolute;
			background: url("../img/icon_blue_line.svg") 0 0 no-repeat;
			background-size: cover;
		}

		&_item {
			z-index: 20;
			width: 215px;
			height: 215px;
			display: block;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
		}
	}

	&__row {
		margin-bottom: 40px;
	}

	&__advantage {
		padding: 0;
		list-style: none;
		margin: 0 -5px;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 50%;
			font-size: 1.4rem;
			line-height: 1.8rem;
			text-align: center;
			margin-bottom: 40px;
			padding: 85px 5px 0 5px;

			&:nth-child(1) {
				background: url("../img/third__icon_01.svg") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/third__icon_02.svg") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/third__icon_03.svg") 50% 0 no-repeat;
			}

			&:nth-child(4) {
				background: url("../img/third__icon_04.svg") 50% 0 no-repeat;
			}

			&:nth-child(5) {
				background: url("../img/third__icon_05.svg") 50% 0 no-repeat;
			}

			&:nth-child(6) {
				background: url("../img/third__icon_06.svg") 50% 0 no-repeat;
			}
		}
	}

	.container {
		z-index: 100;
		position: relative;
	}

	@media (min-width: $screen-sm-min) {

		&__advantage {

			li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 100px;

		&__heading {
			text-align: left;
			margin-bottom: 0;

			span {
				font-size: 5rem;
				line-height: 5rem;
				margin-bottom: 20px;
			}

			strong {
				font-size: 7rem;
				line-height: 7rem;
			}
		}

		&__row {
			margin-bottom: 60px;
			@include flexbox();
		}

		&__left {
			@include flex-grow(1);
		}

		&__right {
			width: 270px;
			@include flex-shrink(0);
		}

		&__advantage {
			margin-bottom: 20px;

			li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 70px;
		background: #044269 url("../img/third__bg.jpg") 50% 50%no-repeat;

		&:before {
			opacity: 1;
			visibility: visible;
		}

		&__heading {
			text-align: left;

			span {
				font-size: 6.2rem;
				line-height: 8rem;
			}

			strong {
				font-size: 8rem;
				line-height: 8rem;
			}
		}

		&__image {
			width: 370px;

			&:before {
				top: 100px;
				width: 201px;
				height: 72px;
			}

			&_item {
				width: 270px;
				height: 270px;
			}
		}

		&__right {
			width: 370px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 0;

		.container {
			padding: 50px 0;
		}

		&__heading {
			text-align: left;
			margin-left: 100px;

			span {
				font-size: 7.2rem;
				line-height: 10rem;
			}

			strong {
				font-size: 10rem;
				line-height: 10rem;
			}
		}

		&__advantage {

			li {
				width: 16.66%;
			}
		}

		&__right {
			padding-top: 30px;
		}
	}

	@media (min-width: 1400px) {

		&__advantage {

			li {
				font-size: 1.8rem;
				line-height: 2.2rem;
				padding-top: 95px;
			}
		}
	}

	@media (min-width: $screen-lg-min) and (max-height: 768px) {

		&__row {
			margin-bottom: 30px;
		}

		&__heading {
			text-align: left;
			margin-left: 100px;

			span {
				font-size: 5.2rem;
				line-height: 5.5rem;
			}

			strong {
				font-size: 7rem;
				line-height: 7rem;
			}
		}

		&__left {
			padding-top: 50px;
		}

		&__advantage {

			li {
				margin-bottom: 0;
			}
		}
	}
}



.fourth {
	z-index: 10;
	background: #fff;
	overflow: hidden;
	padding-top: 45px;
	padding-bottom: 50px;

	&__heading {
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 2.6rem;
		text-align: center;
		letter-spacing: 2px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__content {

	}

	&__mobile {
		max-width: calc(100% + 15px);
		margin-right: -15px;
		margin-bottom: 35px;
		position: relative;

		&_image {
			width: 620px;
		}

		&_point {
			z-index: 10;
			color: #fff;
			width: 20px;
			height: 20px;
			padding: 4px 0;
			font-size: 12px;
			line-height: 12px;
			text-align: center;
			font-style: normal;
			position: absolute;
			background: #1bb9e6;
			@include border-radius(50%);

			&.point_01 {
				top: 60px;
				left: 110px;
			}

			&.point_02 {
				top: 82px;
				left: 38px;
			}

			&.point_03 {
				top: 130px;
				left: 103px;
			}

			&.point_04 {
				top: 105px;
				left: 240px;
			}
		}
	}

	&__desktop {
		display: none;
		width: 1037px;
	}

	&__info {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			color: #5c6166;
			font-size: 1.4rem;
			line-height: 1.8rem;
			position: relative;
			padding-left: 30px;
			margin-bottom: 25px;

			i {
				top: 0;
				left: 0;
				color: #fff;
				width: 20px;
				height: 20px;
				padding: 4px 0;
				font-size: 12px;
				line-height: 12px;
				text-align: center;
				font-style: normal;
				position: absolute;
				background: #1bb9e6;
				@include border-radius(50%);
			}

			strong {
				color: #000;
				display: block;
				font-size: 1.8rem;
				line-height: 2rem;
				margin-bottom: 10px;
			}

			span {
				display: block;
			}

		}
	}

	&__button {
		padding-top: 10px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 80px;

		&__heading {
			font-size: 4rem;
			line-height: 4.3rem;
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			text-align: left;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 0;

		.container {
			padding: 50px 0;
		}

		&__heading {
			z-index: 10;
			font-size: 6rem;
			position: relative;
			margin-left: 100px;
			line-height: 6.5rem;
			margin-bottom: 0;
		}

		&__content {
			z-index: 1;
			padding-left: 15px;
			position: relative;
			margin-top: -120px;
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}

		&__info {
			margin-bottom: 160px;

			li {
				font-size: 1.6rem;
				line-height: 2.2rem;
				position: absolute;
				padding: 30px 0 0 30px;

				i {
					width: 30px;
					height: 30px;
					padding: 5px 0;
					font-size: 14px;
					font-weight: 600;
					line-height: 20px;
				}

				strong {
					font-size: 2.4rem;
					line-height: 2.6rem;
					margin-bottom: 15px;
				}

				&:nth-child(1) {
					left: 800px;
					top: -10px;
					width: 370px;
				}

				&:nth-child(2) {
					left: 10px;
					top: 100%;
					width: 410px;
					margin-top: -20px;
				}

				&:nth-child(3) {
					left: 600px;
					top: 100%;
					width: 410px;
					margin-top: -65px;
				}
			}
		}

		&__button {
			text-align: right;
		}
	}

	@media (min-width: $screen-lg-min) and (max-height: 768px) {

		.container {
			padding-top: 40px;
			padding-bottom: 0;
			 @include scale(0.75);
		}

		.btn_scroll_dark {
			display: none;
		}

		&__heading {
			font-size: 4rem;
			line-height: 4rem;
		}

		&__button {
			display: none;
		}

		.fp-scroller {
			overflow: hidden;
		}

		.iScrollVerticalScrollbar {
			display: none;
		}
	}
}


.fifth {
	color: #fff;
	z-index: 20;
	position: relative;
	padding-top: 50px;
	background: #003f6b;
	padding-bottom: 30px;

	&__heading {
		text-align: center;
		font-family: $font-family-head;

		span {
			display: block;
			font-size: 3rem;
			font-weight: 500;
			line-height: 3rem;
			margin-bottom: 15px;
		}

		strong {
			display: block;
			font-size: 4rem;
			font-weight: 900;
			line-height: 4rem;
			margin-bottom: 30px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	&__text {
		font-size: 1.4rem;
		line-height: 1.8rem;
		text-align: center;
		margin-bottom: 30px;
	}

	&__subtitle {
		width: 190px;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-align: center;
		margin: 0 auto 30px auto;
	}

	&__seasons {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 50%;
			text-align: center;
			margin-bottom: 30px;
			padding: 85px 5px 0 5px;

			&:nth-child(1) {
				background: url("../img/fifth__icon_01.svg") 50% 0 no-repeat;
			}

			&:nth-child(2) {
				background: url("../img/fifth__icon_02.svg") 50% 0 no-repeat;
			}

			&:nth-child(3) {
				background: url("../img/fifth__icon_03.svg") 50% 0 no-repeat;
			}

			&:nth-child(4) {
				background: url("../img/fifth__icon_04.svg") 50% 0 no-repeat;
			}
		}

		&_title {
			font-size: 0;
			line-height: 0;

			a {
				width: 100%;
				color: #fff;
				max-width: 160px;
				font-weight: 800;
				font-size: 2.4rem;
				line-height: 3rem;
				padding: 0.9rem 3rem;
				display: inline-block;
				text-decoration: none;
				border: 1px solid #1bb9e6;
				text-transform: uppercase;
				@include border-radius(3px);

				&:hover {
					color: #fff;
					background: #1bb9e6;
				}
			}
		}

		&_button {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 80px;

		&__text {
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 25px;
		}

		&__subtitle {
			width: 100%;
			font-weight: 400;
			font-size: 2.4rem;
			line-height: 3rem;
			margin-bottom: 70px;
		}

		&__seasons {

			li {
				width: 25%;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__seasons {

			li {
				padding-top: 100px;
				position: relative;

				&:before {
					right: 0;
					top: 20px;
					bottom: 20px;
					width: 1px;
					content: '';
					display: block;
					position: absolute;
					background: #1bb9e6;
				}

				&:last-child {

					&:before {
						display: none;
					}
				}
			}

			&_title {
				margin-bottom: 35px;

				a {
					padding: 0;
					border: none;
					font-size: 4rem;
					line-height: 4rem;
					max-width: inherit;
					background: transparent;

					&:hover {
						background: transparent;
					}
				}
			}

			&_button {
				display: block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 0;

		.container {
			padding: 50px 0;
		}

		&__heading {
			text-align: center;
			font-family: $font-family-head;

			span {
				font-size: 6rem;
				line-height: 6.4rem;
				margin-bottom: 25px;
			}

			strong {
				font-size: 9rem;
				line-height: 9.4rem;
				margin-bottom: 70px;
			}
		}

		&__seasons {

			&_title {

				a {
					font-size: 6rem;
					line-height: 6rem;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) and (max-height: 768px) {

		&__heading {

			span {
				font-size: 4rem;
				line-height: 4.4rem;
				margin-bottom: 25px;
			}

			strong {
				font-size: 5.5rem;
				line-height: 6rem;
				margin-bottom: 50px;
			}
		}

		&__subtitle {
			margin-bottom: 10px;
		}

		&__seasons {
			@include scale(0.8);
		}
	}
}


#section6 {
	z-index: 20;
	position: relative;
}

.sixth {

	padding-top: 50px;
	padding-bottom: 50px;
	background: #f2f0f3 url("../img/sixth__bg.png") 50% -250px no-repeat;

	&__heading {
		color: #fff;
		font-weight: 900;
		font-size: 2.4rem;
		line-height: 2.6rem;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__content {
		margin: 0 auto;
		max-width: 970px;
		@include flexbox();
	}

	&__column {
		width: 50%;
	}

	&__elem {
		position: relative;
		background: #000;
		@include transition(.3s);

		&_image {
			opacity: 0.5;
			@include transition(.3s);
		}

		&_content {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			color: #fff;
			padding: 15px 15px;
			text-align: center;
			position: absolute;
			@include flexbox();
			@include flex-direction(column);
			@include transition(0.3s);

			&_wrap {
				width: 100%;
				margin:  auto 0;
			}
		}

		&_icon {
			margin: 0 auto 12px auto;
		}

		strong {
			display: block;
			font-weight: 900;
			font-size: 1.4rem;
			line-height: 1.8rem;
			font-family: $font-family-head;
		}

		span {
			display: none;
		}

		&.elem_01 {

			.sixth__elem_icon {
				width: 60px;
			}
		}

		&.elem_02 {

			.sixth__elem_icon {
				width: 37px;
			}
		}

		&.elem_03 {

			.sixth__elem_icon {
				width: 60px;
			}
		}

		&.elem_04 {

			.sixth__elem_icon {
				width: 59px;
			}
		}

		&.elem_05 {

			.sixth__elem_icon {
				width: 54px;
			}
		}

		&.elem_06 {

			.sixth__elem_icon {
				width: 56px;
			}
		}

		&:hover {
			@include transition(.3s);

			.sixth__elem_content {
				opacity: 0;
				@include transition(.3s);
			}

			.sixth__elem_image {
				opacity: 1;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 140px;
		padding-bottom: 100px;
		background-position: 50% 0;

		&__heading {
			max-width: 630px;
			font-size: 4.8rem;
			line-height: 5.4rem;
			margin: 0 auto 6rem auto;
		}

		&__elem {

			strong {
				font-size: 3.4rem;
				line-height: 3.8rem;
			}

			&.elem_01 {

				.sixth__elem_icon {
					width: 100px;
				}
			}

			&.elem_02 {

				.sixth__elem_icon {
					width: 63px;
				}
			}

			&.elem_03 {

				.sixth__elem_icon {
					width: 100px;
				}
			}

			&.elem_04 {

				.sixth__elem_icon {
					width: 100px;
				}
			}

			&.elem_05 {

				.sixth__elem_icon {
					width: 100px;
				}
			}

			&.elem_06 {

				.sixth__elem_icon {
					width: 100px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 100px;

		&__elem {

			strong {
				font-size: 4.8rem;
				line-height: 5rem;
				margin-bottom: 25px;
			}

			span {
				display: block;
				font-size: 2.4rem;
				line-height: 3.2rem;
			}
		}
	}
}


.seventh {
	z-index: 5;
	overflow: hidden;
	color: #003f6b;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #fff;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: rgba(255, 255, 255, 0.85);
	}

	.container {
		z-index: 50;
		position: relative;
	}

	&__heading {
		text-align: center;
		font-family: $font-family-head;

		span {
			display: block;
			font-size: 3rem;
			font-weight: 500;
			line-height: 3.2rem;
			margin-bottom: 15px;
		}

		strong {
			display: block;
			font-size: 4rem;
			font-weight: 900;
			line-height: 4rem;
			margin-bottom: 30px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}


	&__text {
		width: 240px;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.8rem;
		text-align: center;
		margin: 0 auto 35px auto;
		font-family: $font-family-head;
	}

	&__button {
		padding: 0;
		list-style: none;
		max-width: 290px;
		margin: 0 auto 30px auto;

		> li {

			&:first-child {
				margin-bottom: 20px;
			}
		}
	}

	&__bottom {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			&:last-child {
				display: none;
			}
		}
	}

	&__info {
		color: #000;
		margin: 0 auto;
		max-width: 290px;
		font-size: 1.4rem;
		line-height: 1.8rem;
		padding-left: 75px;
		position: relative;

		i {
			top: 0;
			left: 0;
			width: 66px;
			height: 36px;
			position: absolute;
		}

		.ico-svg {
			fill: #003f6b;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 90px;
		padding-bottom: 90px;

		&__button {
			width: 640px;
			max-width: inherit;
			margin-bottom: 80px;
			@include flexbox();

			li {
				width: 50%;
				padding: 0 15px;

				&:first-child {
					margin-bottom: 0;
				}
			}
		}

		&__bottom {
			@include flexbox();

			> li {
				width: 50%;

				&:last-child {
					display: block;
					text-align: right;
				}
			}
		}

		&__info {
			margin: 10px 0 0 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		background: url("../img/seventh__bg.jpg") 50% 50% no-repeat;
		background-size: cover;

		&:before {
			opacity: 1;
			visibility: visible;
		}

		&__heading {
			margin-bottom: 50px;

			span {
				font-weight: 700;
				font-size: 3.6rem;
				line-height: 3.8rem;
			}

			strong {
				font-size: 6.2rem;
				line-height: 6.2rem;
			}
		}

		&__text {
			width: 500px;
			font-size: 2.4rem;
			line-height: 3.6rem;
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 0;

		.container {
			padding: 50px 0;
		}

		&__heading {
			margin-bottom: 50px;

			span {
				font-weight: 700;
				font-size: 4.8rem;
				line-height: 5rem;
			}

			strong {
				font-size: 7.2rem;
				line-height: 7.2rem;
			}
		}

		&__text {
			width: 500px;
			font-size: 2.4rem;
			line-height: 3.6rem;
			margin-bottom: 50px;
		}


		&__bottom {
			@include flexbox();

			> li {
				width: 50%;

				&:last-child {
					display: block;
					text-align: right;
					padding-top: 80px;
				}
			}
		}

		&__info {
			margin: 0;
			max-width: 360px;
			font-size: 2.4rem;
			line-height: 3.2rem;
			padding: 80px 0 0 0;

			i {
				width: 111px;
				height: 60px;
			}
		}
	}

	@media (min-width: 1400px) {

		&__text {
			width: 580px;
			font-size: 3.6rem;
			line-height: 4rem;
		}
	}

	@media (min-width: $screen-lg-min) and (max-height: 768px) {

		&__heading {
			margin-bottom: 35px;

			span {
				font-size: 3.2rem;
				line-height: 3.6rem;
			}

			strong {
				font-size: 5.2rem;
				line-height: 5.2rem;
			}
		}

		&__info {
			max-width: 480px;
			padding: 0 0 0 140px;
		}

		&__bottom {

			> li {

				&:last-child {
					padding-top: 0;
				}
			}
		}
	}
}


.eighth {
	color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #fff;

	&__product {
		margin-bottom: 30px;
	}

	&__content {
		margin-bottom: 30px;
	}

	&__heading {
		margin-bottom: 25px;
		text-align: center;
		letter-spacing: 1px;
		font-family: $font-family-base;

		span {
			display: block;
			font-size: 3rem;
			font-weight: 500;
			line-height: 3.2rem;
			margin-bottom: 10px;
		}

		strong {
			display: block;
			font-size: 4rem;
			font-weight: 900;
			line-height: 4rem;
			margin-bottom: 30px;
			text-transform: uppercase;
		}
	}

	&__images {
		padding: 0;
		margin: 0 auto;
		max-width: 405px;
		list-style: none;
	}

	&__purchase {
		margin: 0 -15px;
		background: #f2f2f2;
		padding: 25px 15px 30px 15px;

		&_title {
			display: none;
		}

		&_table {
			width: 100%;
			font-size: 1.4rem;
			line-height: 1.8rem;
			margin-bottom: 20px;

			td {
				padding: 4px 0;

				&:last-child {
					color: #8a9199;
					text-align: right;
				}
			}
		}

		&_total {
			margin-bottom: 25px;

			span {
				display: none;
				color: #8a9199;
				font-size: 1.8rem;
				line-height: 2rem;
				margin-bottom: 15px;
			}

			strong {
				display: block;
				font-size: 4rem;
				line-height: 4rem;
			}
		}

		.btn {
			width: 100%;
		}
	}

	&__text {
		color: #5c6166;
		font-size: 1.4rem;
		line-height: 1.8rem;

		&_intro {
			display: block;

			a {
				color: #044269;
				text-decoration: underline;

				&:hover {
					color: #044269;
					text-decoration: none;
				}
			}
		}

		&_content {
			display: none;
		}

		&.open {

			.eighth__text_intro {

				a {
					display: none;
				}
			}

			.eighth__text_content {
				display: block;
			}
		}
	}

	&__tabs {

		&_nav {
			margin: 0 0 25px 0;
			padding: 0;
			list-style: none;
			@include flexbox();

			li {
				width: 50%;

				a {
					width: 100%;
					display: table;
					color: #044269;
					cursor: pointer;
					text-decoration: none;

					span {
						height: 50px;
						color: #044269;
						padding: 5px 10px;
						font-size: 1.4rem;
						text-align: center;
						display: table-cell;
						line-height: 1.6rem;
						vertical-align: middle;
						background: transparent;
						border: 1px solid #044269;
					}

					&:hover {
						color: #fff;
						text-decoration: none;

						span {
							color: #fff;
							background: #044269;
						}
					}
				}

				&.active {

					a {
						color: #fff;
						text-decoration: none;

						span {
							color: #fff;
							background: #044269;
						}
					}
				}

				&:first-child {

					a {
						span {
							@include border-radius(3px 0 0 3px);
						}
					}
				}

				&:last-child {

					a {
						span {
							@include border-radius(0 3px 3px 0);
						}
					}
				}
			}
		}

		&_item {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	&__params {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.4rem;
		line-height: 1.8rem;

		li {
			color: #5c6166;
			margin-bottom: 10px;

			strong {
				color: #000;
			}
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 1.6rem;
		line-height: 2.2rem;

		li {
			color: #5c6166;
			margin-bottom: 10px;
			padding-left: 20px;
			background: url("../img/icon_plus.png") 0 3px no-repeat;
		}
	}

	&__desktop {
		display: none;
	}


	@media (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 80px;

		&__product {
			@include flexbox();
		}

		&__content {
			margin: 0;
			padding-right: 30px;
			@include flex-grow(1);
		}

		&__purchase {
			margin: 0;
			width: 300px;
			@include flex-shrink(0);
			@include border-radius(3px);
		}

		&__heading {
			text-align: left;
		}

		&__images {
			max-width: inherit;
			@include flexbox();
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			color: #5c6166;
			display: block;
			font-size: 1.6rem;
			line-height: 2.4rem;

			h3 {
				color: #000;
				padding: 0;
				font-weight: 800;
				font-size: 2.4rem;
				line-height: 2.8rem;
				margin: 0 0 20px 0;
			}

			p {
				margin-bottom: 30px;
			}
		}

		&__params {
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			margin-bottom: 40px;

			span {
				font-size: 4.8rem;
				line-height: 5rem;
			}

			strong {
				font-size: 6rem;
				line-height :6.2rem;
			}
		}

		&__purchase {

			&_title {
				display: block;
				font-weight: 700;
				font-size: 2.4rem;
				line-height: 2.8rem;
				margin-bottom: 30px;
			}

			&_table {
				margin-bottom: 25px;
				padding-bottom: 20px;
				border-bottom: 1px solid #cccccc;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__heading {
			margin-bottom: 55px;

			span {
				font-size: 6rem;
				line-height: 6rem;
				margin-bottom: 15px;
			}

			strong {
				font-size: 9rem;
				line-height: 9rem;
			}
		}

		&__purchase {
			width: 370px;
			padding: 45px 35px;

			&_title {
				margin-right: -10px;
				font-size: 3.2rem;
				line-height: 3.6rem;
			}

			&_table {

				td {
					padding: 5px 0;
					font-size: 1.6rem;
					line-height: 2rem;
				}
			}

			&_total {
				margin-bottom: 45px;

				span {
					display: block;
				}

				strong {
					font-size: 4.8rem;
					line-height: 5rem;
				}
			}
		}

		&__desktop {
			width: 774px;
		}
	}
}


.ninth {
	color: #fff;
	padding: 50px 0;
	background: #044269;

	&__heading {
		line-height: 1;
		font-weight: 900;
		font-size: 2.4rem;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__delivery {
		max-width: 300px;
		margin: 0 auto 30px auto;
		padding: 0;
		list-style: none;

		li {
			min-height: 40px;
			font-size: 1.4rem;
			line-height: 1.8rem;
			position: relative;
			padding-left: 75px;
			margin-bottom: 25px;
			@include flexbox();

			span {
				padding-right: 10px;
				display: block;
				@include flex-grow(1);
			}

			strong {
				display: block;
				font-weight: 700;
				font-size: 1.8rem;
				line-height: 2rem;
				white-space: nowrap;
			}

			&:before {
				left: 0;
				top: 3px;
				content: '';
				display: block;
				position: absolute;
			}

			&:nth-child(1) {

				&:before {
					width: 50px;
					height: 32px;
					background: url("../img/ninth__icon_01.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			&:nth-child(2) {

				&:before {
					width: 50px;
					height: 38px;
					background: url("../img/ninth__icon_02.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}

			&:nth-child(3) {

				&:before {
					left: 4px;
					width: 41px;
					height: 45px;
					background: url("../img/ninth__icon_03.svg") 0 0 no-repeat;
					background-size: cover;
				}
			}
		}
	}

	&__payment {
		max-width: 300px;
		margin: 0 auto;
		min-height: 40px;
		position: relative;
		padding-left: 75px;
		font-size: 1.4rem;
		line-height: 1.8rem;

		&:before {
			left: 0;
			top: 3px;
			content: '';
			width: 44px;
			height: 38px;
			display: block;
			position: absolute;
			background: url("../img/ninth__icon_04.svg") 0 0 no-repeat;
			background-size: cover;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 90px 0;

		&__heading {
			font-size: 4rem;
			line-height: 4rem;
			margin-bottom: 70px;
		}

		&__delivery {
			max-width: 830px;
			margin-bottom: 55px;
			@include flexbox();


			li {
				width: 33.33%;
				font-size: 1.6rem;
				line-height: 2.2rem;
				text-align: center;
				margin-bottom: 0;
				padding: 90px 15px 0 15px;
				@include flex-direction(column);

				span {
					display: block;
					padding-bottom: 15px;
					@include flex-grow(1);
				}

				strong {
					font-size: 3.6rem;
					line-height: 3.6rem;
				}

				&:before {
					top: 0;
					left: 50%;
				}

				&:after {
					right: 0;
					top: 20px;
					width: 1px;
					bottom: 2px;
					content: '';
					display: block;
					position: absolute;
					background: #1bb9e6;
				}

				&:nth-child(1) {

					&:before {
						left: 50%;
						width: 70px;
						height: 45px;
						margin-left: -35px;
					}
				}

				&:nth-child(2) {

					&:before {
						left: 50%;
						width: 70px;
						height: 54px;
						margin-left: -35px;
					}
				}

				&:nth-child(3) {

					&:before {
						left: 50%;
						width: 57px;
						height: 61px;
						margin-left: -28px;
					}

					&:after {
						display: none;
					}
				}
			}
		}

		&__payment {
			max-width: 400px;
			min-height: 53px;
			font-size: 1.6rem;
			line-height: 2.2rem;
			padding-left: 90px;
			padding-top: 10px;

			&:before {
				width: 60px;
				height: 53px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			font-size: 4.8rem;
			line-height: 4.8rem;
			margin-bottom: 95px;
		}

		&__delivery {
			margin-bottom: 70px;

			li {
				font-size: 1.8rem;
				line-height: 2.4rem;
			}
		}

		&__payment {
			max-width: 420px;
			font-size: 1.8rem;
			line-height: 2.4rem;
			padding-top: 7px;
		}
	}
}


.tenth {
	padding: 50px 0;
	background: #f2f2f2;

	&__heading {
		color: #000;
		font-weight: 900;
		font-size: 2.4rem;
		text-align: center;
		line-height: 2.6rem;
		margin-bottom: 30px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__faq {
		padding: 0;
		margin: 0 auto 20px auto;
		max-width: 970px;
		list-style: none;

		> li {
			background: #fff;
			border-bottom: 2px solid #f2f2f2;

			&.open {

				.tenth__faq_question {

					a {

						&:after {
							@include rotate(45deg);
						}

						&:before {
							@include rotate(-45deg);
						}
					}
				}

				.tenth__faq_answer {
					display: block;
				}
			}
		}

		&_question {
			color: #000;
			cursor: pointer;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.4rem;
			position: relative;
			padding: 15px 50px 15px 15px;

			a {
				top: 15px;
				right: 12px;
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;

				&:after,
				&:before {
					top: 50%;
					left: 50%;
					z-index: 5;
					width: 24px;
					height: 2px;
					content: '';
					position: absolute;
					background: #949494;
					margin: -1px 0 0 -12px;
				}

				&:after {
					@include rotate(90deg);
				}
			}
		}

		&_answer {
			color: #5c6166;
			display: none;
			font-size: 1.4rem;
			line-height: 1.8rem;
			padding: 0 15px 15px 15px;
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 80px;

		&__heading {
			font-size: 3.6rem;
			line-height: 3.8rem;
			margin-bottom: 45px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__faq {
			margin-bottom: 40px;

			&_question {
				font-size: 2.4rem;
				line-height: 3rem;
				padding: 30px 70px 30px 35px;

				a {
					top: 30px;
					right: 30px;
				}
			}

			&_answer {
				color: #000;
				margin-top: -10px;
				font-size: 1.6rem;
				line-height: 2.4rem;
				padding: 0 70px 30px 35px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 90px;
		padding-bottom: 100px;

		&__heading {
			font-size: 4.8rem;
			line-height: 5rem;
			margin-bottom: 70px;
		}
	}
}


.footer {
	color: #fff;
	padding: 50px 0;
	background: #2e3033;

	&__row {

	}

	&__left {

	}

	&__right {

	}

	&__logo {
		width: 140px;
		height: 16px;
		display: block;
		margin: 0 auto 40px auto;

		.ico-svg {

			.cls-1 {
				fill: #fff;
			}

			.cls-2 {
				fill: #8b9199;
			}
		}
	}

	&__social {
		padding: 0;
		width: 260px;
		list-style: none;
		margin: 0 auto 35px auto;
		@include flexbox();
		@include justify-content(space-between);

		li {
			width: 40px;
			height: 40px;
			font-size: 0;
			line-height: 0;

			a {
				width: 40px;
				height: 40px;
				color: #2e3033;
				padding: 10px 0;
				font-size: 2rem;
				line-height: 2rem;
				text-align: center;
				background: #8a9199;
				text-decoration: none;
				display: inline-block;
				@include border-radius(50%);
				@include transition(0.25s);

				&:hover {
					color: #2e3033;
					background: #fff;
					text-decoration: none;
					@include transition(0.25s);
				}
			}
		}
	}

	&__copy {
		color: #8a9199;
		font-size: 1.2rem;
		line-height: 1.8rem;
		text-align: center;

		span {
			display: block;
		}
	}

	&__contact {
		padding: 0;
		list-style: none;
		margin: 0 0 30px 0;
		text-align: center;

		> li {
			margin-bottom: 20px;

			span {
				color: #8a9199;
				display: block;
				font-size: 1.6rem;
				line-height: 2rem;
				margin-bottom: 5px;
			}

			&:last-child {

				a {
					color: #8a9199;
					font-size: 1.4rem;
					line-height: 2rem;
					text-decoration: underline;

					&:hover {
						color: #8a9199;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__tel {
		color: #fff;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&__email {
		color: #fff;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 95px;
		padding-bottom: 90px;

		&__row {
			width: 100%;
			margin: 0 auto;
			max-width: 970px;
			@include flexbox();
			@include justify-content(space-between);
		}

		&__logo {
			margin: 0 0 40px 0;
		}

		&__social {
			width: 100%;
			margin: 0 0 45px 0;
			max-width: inherit;
			@include justify-content(left);

			li {
				margin-right: 20px;
			}
		}

		&__copy {
			text-align: left;
			font-size: 1.6rem;
			line-height: 2.4rem;
		}

		&__contact {
			margin: 0;
			text-align: left;

			> li {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}



.video_bg {
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	max-height: 100vh;
	max-width: 100vw;
	background-color: black;
	background-position: center center;
	background-size: contain;
	object-fit: cover;

	visibility: hidden;
	opacity: 0;

	@media (min-width: $screen-lg-min) {
		visibility: visible;
		opacity: 1;
	}
}

.btn_scroll {
	left: 50%;
	width: 18px;
	height: 46px;
	bottom: 20px;
	z-index: 100;
	margin-left: -9px;
	position: absolute;
	display: inline-block;
	background: url("../img/icon_scroll.svg") 0 0 no-repeat;
	background-size: cover;

	opacity: 0;
	visibility: hidden;

	@media (min-width: $screen-xl-min) {

		visibility: visible;
		opacity: 1;
	}
}

.btn_scroll_dark {
	left: 50%;
	width: 18px;
	height: 46px;
	bottom: 20px;
	z-index: 100;
	margin-left: -9px;
	position: absolute;
	display: inline-block;
	background: url("../img/icon_scroll_dark.svg") 0 0 no-repeat;
	background-size: cover;

	opacity: 0;
	visibility: hidden;

	@media (min-width: $screen-xl-min) {

		visibility: visible;
		opacity: 1;
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}