
@font-face {
	font-family:'SF UI Text';
	src: url('../fonts/SFUIText/SFUIText_Bold.eot');
	src: url('../fonts/SFUIText/SFUIText_Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText/SFUIText_Bold.woff2') format('woff2'),
	url('../fonts/SFUIText/SFUIText_Bold.woff') format('woff'),
	url('../fonts/SFUIText/SFUIText_Bold.ttf') format('truetype'),
	url('../fonts/SFUIText/SFUIText_Bold.otf') format('opentype'),
	url('../fonts/SFUIText/SFUIText_Bold.svg#SF UI Text Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'SF UI Text';
	src: url('../fonts/SFUIText/SFUIText_Light.eot');
	src: url('../fonts/SFUIText/SFUIText_Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText/SFUIText_Light.woff2') format('woff2'),
	url('../fonts/SFUIText/SFUIText_Light.woff') format('woff'),
	url('../fonts/SFUIText/SFUIText_Light.ttf') format('truetype'),
	url('../fonts/SFUIText/SFUIText_Light.otf') format('opentype'),
	url('../fonts/SFUIText/SFUIText_Light.svg#SF UI Text Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'SF UI Text';
	src: url('../fonts/SFUIText/SFUIText_Medium.eot');
	src: url('../fonts/SFUIText/SFUIText_Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText/SFUIText_Medium.woff2') format('woff2'),
	url('../fonts/SFUIText/SFUIText_Medium.woff') format('woff'),
	url('../fonts/SFUIText/SFUIText_Medium.ttf') format('truetype'),
	url('../fonts/SFUIText/SFUIText_Medium.otf') format('opentype'),
	url('../fonts/SFUIText/SFUIText_Medium.svg#SF UI Text Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'SF UI Text';
	src: url('../fonts/SFUIText/SFUIText_Regular.eot');
	src: url('../fonts/SFUIText/SFUIText_Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText/SFUIText_Regular.woff2') format('woff2'),
	url('../fonts/SFUIText/SFUIText_Regular.woff') format('woff'),
	url('../fonts/SFUIText/SFUIText_Regular.ttf') format('truetype'),
	url('../fonts/SFUIText/SFUIText_Regular.otf') format('opentype'),
	url('../fonts/SFUIText/SFUIText_Regular.svg#SF UI Text Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'SF UI Text';
	src: url('../fonts/SFUIText/SFUIText_Semibold.eot');
	src: url('../fonts/SFUIText/SFUIText_Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SFUIText/SFUIText_Semibold.woff2') format('woff2'),
	url('../fonts/SFUIText/SFUIText_Semibold.woff') format('woff'),
	url('../fonts/SFUIText/SFUIText_Semibold.ttf') format('truetype'),
	url('../fonts/SFUIText/SFUIText_Semibold.otf') format('opentype'),
	url('../fonts/SFUIText/SFUIText_Semibold.svg#SF UI Text Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}





@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot');
	src: local('MuseoSansCyrl-500Italic'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot');
	src: local('MuseoSansCyrl-700Italic'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot');
	src: local('Museo Sans Cyrl 900 Italic'), local('MuseoSansCyrl-900Italic'),
	url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
	url('../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

