.header {
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 0;
	z-index: 1200;
	position: fixed;
	background: #fff;
	border-bottom: 1px solid #ccc;

	.container {
		height: 36px;
		padding-top: 8px;
		position: relative;
	}

	&__logo {
		width: 139px;
		height: 15px;
		display: block;
		margin: 0 auto;

		.ico-svg {
			.cls-1 {
				fill: #003f6b;
			}

			.cls-2 {
				fill: #1bb9e6;
			}
		}
	}

	&__phone {
		top: 0;
		left: 15px;
		width: 36px;
		height: 36px;
		position: absolute;
		background: #2eb8e4;
		display: inline-block;
		@include border-radius(50%);

		i {
			top: 50%;
			left: 50%;
			width: 18px;
			height: 18px;
			position: absolute;
			margin: -9px 0 0 -9px;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}

		span {
			display: none;
		}
	}

	&__cart {
		top: 0;
		right: 15px;
		width: 36px;
		height: 36px;
		position: absolute;
		background: #2eb8e4;
		display: inline-block;
		@include border-radius(50%);

		i {
			top: 50%;
			left: 50%;
			width: 18px;
			height: 18px;
			position: absolute;
			margin: -9px 0 0 -9px;
			display: inline-block;
		}

		.ico-svg {
			fill: #fff;
		}

		span {
			display: none;
		}

		&_mobile {
			display: inline-block;
		}

		&_desktop {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 15px 0;
		border-bottom: none;
		position: absolute;
		background: transparent;

		.container {
			padding-top: 0;
			height: auto;
		}

		&__logo {
			width: 170px;
			height: 19px;
			margin: 0;

			.ico-svg {

				.cls-1 {
					fill: #fff;
				}

				.cls-2 {
					fill: #1bb9e6;
				}
			}
		}

		&__phone {
			left: auto;
			right: 160px;
			width: auto;
			height: auto;
			color: #fff;
			font-size: 18px;
			line-height: 20px;
			padding-left: 28px;
			text-decoration: none;
			background: transparent;
			@include border-radius(0);

			&:hover {
				color: #fff;
				text-decoration: none;
			}

			i {
				left: 0;
				margin-left: 0;
			}

			.ico-svg {
				fill: #2eb7e2;
			}

			span {
				display: inline;
			}
		}

		&__cart {
			width: auto;
			height: auto;
			color: #fff;
			font-size: 18px;
			line-height: 20px;
			padding-left: 28px;
			text-decoration: none;
			background: transparent;
			@include border-radius(0);

			&:hover {
				color: #fff;
				text-decoration: none;
			}

			i {
				left: 0;
				margin-left: 0;
			}

			.ico-svg {
				fill: #2eb7e2;
			}

			span {
				display: inline;
			}

			&_mobile {
				display: none;
			}

			&_desktop {
				display: inline-block;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		position: fixed;
	}
}


.fp-viewing-1,
.fp-viewing-3,
.fp-viewing-5 {

	.header__logo {

		.ico-svg {
			.cls-1 {
				fill: #003f6b;
			}

			.cls-2 {
				fill: #1bb9e6;
			}
		}
	}

	.header__phone {
		color: #000;

		&:hover {
			color: #000;
		}
	}

	.header__cart {
		color: #000;

		&:hover {
			color: #000;
		}
	}
}

.fp-viewing-6 {

	.header {
//		display: none;
		background: rgba(255,255,255,0.8);
	}

	.header__logo {

		.ico-svg {
			.cls-1 {
				fill: #003f6b;
			}

			.cls-2 {
				fill: #1bb9e6;
			}
		}
	}

	.header__phone {
		color: #000;

		.ico-svg {
			fill: #003f6b;
		}

		&:hover {
			color: #000;
		}
	}

	.header__cart {
		color: #000;

		.ico-svg {
			fill: #003f6b;
		}

		&:hover {
			color: #000;
		}
	}
}