.order_mobile {
	left: 0;
	right: 0;
	top: 56px;
	width: 100%;
	display: none;
	z-index: 1200;
	position: fixed;
	background: #fff;
	overflow-y: auto;
	max-height: calc(100vh - 56px);
	height: calc(100vh - 56px);

	&__wrap {
		padding: 25px 15px;
	}

	&__title {
		color: #000;
		font-weight: 900;
		font-size: 2.4rem;
		text-align: center;
		line-height: 2.6rem;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__text {
		color: #5c6166;
		font-size: 1.4rem;
		line-height: 1.8rem;
		text-align: center;
		margin-bottom: 35px;
	}

	.btn {
		width: 100%;
		margin-top: 10px;
	}
}

.open_mobile {

	.order_mobile {
		display: block;
	}

	.header__cart_mobile {
		background: #ffd200;

		.ico-svg {
			fill: #000;
		}
	}

	@media (min-width: $screen-md-min) {

		.order_mobile {
			display: none;
		}
	}
}

.modal {
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;


	&__wrap {
		width: 100%;
		min-height: 100%;
		padding: 40px 20px;
		@include flexbox();
	}

	&__container {
		margin: auto;
	}

	&__title {
		font-weight: 900;
		font-size: 2.8rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-family: $font-family-head;
	}

	&__text {
		max-width: 720px;
		color: #5c6166;
		font-size: 1.6rem;
		line-height: 2.2rem;
		text-align: center;
		margin: 0 auto 40px auto;
	}

	&__form {
		max-width: 374px;
		margin: 0 auto;

		.btn {
			width: 100%;
		}
	}

	&.modal_blue {
		color: #fff;
		background: #2eb8e4;
	}

	.thanks_text {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 3rem;
		text-align: center;

		p {
			margin-bottom: 40px;
		}
	}

	.modal_close {
		width: 50px;
		height: 50px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
		border: 1px solid #fff;
		background: url("../img/icon_ok.svg") 50% 50% no-repeat;
		@include border-radius(50%);
	}

	@media (min-width: $screen-md-min) {


		&__title {
			font-size: 4.8rem;
			line-height: 5rem;
		}

		&__text {
			font-size: 1.8rem;
			line-height: 2.4rem;
		}

		.thanks_text {
			font-size: 5rem;
			line-height: 5.6rem;

			p {
				margin-bottom: 40px;
			}
		}
	}
}

.season {
	margin: 0 auto;

	&__header {
		padding: 0;
		list-style: none;
		margin: 0 0 25px 0;

		li {

			&:first-child {
				margin-bottom: 30px;
			}
		}
	}

	&__title {
		padding-left: 70px;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			content: '';
			position: absolute;
			display: inline-block;
		}

		span {
			display: block;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-bottom: 2px;
			text-transform: uppercase;
		}
		strong {
			font-size: 4rem;
			font-weight: 900;
			line-height: 4rem;
			text-transform: uppercase;
			font-family: $font-family-head;
		}

		&.season_winter {

			&:before {
				width: 52px;
				height: 60px;
				background: url("../img/icon__season_winter.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.season_spring {

			&:before {
				width: 60px;
				height: 57px;
				background: url("../img/icon__season_spring.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.season_summer {

			&:before {
				width: 60px;
				height: 60px;
				background: url("../img/icon__season_spring.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}

		&.season_autumn {

			&:before {
				width: 60px;
				height: 60px;
				background: url("../img/icon__season_autumn.svg") 0 0 no-repeat;
				background-size: cover;
			}
		}
	}

	&__image {
		width: 255px;
		position: relative;

		&:before {
			right: 0;
			top: 60px;
			z-index: 1;
			content: "";
			width: 158px;
			height: 57px;
			display: block;
			position: absolute;
			background: url('../img/icon_blue_line.svg') 0 0 no-repeat;
			background-size: cover;
		}

		&_wrap {
			z-index: 10;
			width: 171px;
			height: 171px;
			overflow: hidden;
			position: relative;
			@include border-radius(50%);
		}
	}

	&__content {
		margin: 0;
		padding: 0;
		color: #5c6166;
		font-size: 1.4rem;
		line-height: 1.8rem;
		list-style: none;

		h3 {
			color: #000;
			display: none;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
			margin: 0 0 20px 0;
		}
	}

	&__text {
		display: none;

		&_mobile {
			display: block;
		}
	}

	.list {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 10px;
			padding-left: 20px;
			position: relative;
			background: url('../img/icon_plus.png') 0 7px no-repeat;
		}
	}

	&__footer {
		display: none;
		text-align: right;
	}

	@media (min-width: $screen-md-min) {
		max-width: $container-md;

		&__header {
			margin-bottom: 70px;
			@include flexbox();

			li {

				&:first-child {
					width: 400px;
					padding-top: 25px;
					@include flex-shrink(0);
				}
			}
		}

		&__title {
			padding: 0 80px 0 0;

			&:before {
				top: auto;
				right: 0;
				bottom: 0;
				left: auto;
			}

			span {
				font-size: 2rem;
				line-height: 2rem;
				padding-bottom: 17px;
				margin-bottom: 10px;
				position: relative;

				&:before {
					left: 0;
					bottom: 0;
					content: '';
					width: 70px;
					height: 3px;
					display: block;
					position: absolute;
					background: #2eb8e4;
				}
			}

			strong {
				font-size: 6rem;
				line-height: 6rem;
			}

			&.season_winter {

				&:before {
					width: 62px;
					height: 70px;
				}
			}

			&.season_spring {

				&:before {
					width: 70px;
					height: 65px;
				}
			}

			&.season_summer {

				&:before {
					width: 70px;
					height: 70px;
				}
			}

			&.season_autumn {

				&:before {
					width: 70px;
					height: 70px;
				}
			}
		}

		&__content {
			margin: 0 -15px;
			@include flexbox();

			> li {
				width: 50%;
				padding: 0 15px;
				font-size: 1.6rem;
				line-height: 2.4rem;

				&:last-child {
					display: none;
				}
			}

			h3{
				display: block;
			}
		}

		&__text {
			display: block;
		}

		&__footer {
			display: block;
			padding-top: 80px;
		}
	}

	@media (min-width: $screen-lg-min) {
		max-width: $container-lg;

		&__content {

			> li {

				&:last-child {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: $container-xl;
	}
}



.fancybox-slide {

	> * {
		margin: 0 !important;
	}
}

.fancybox-close-small {

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		width: 30px;
		height: 2px;
		content: '';
		outline: none;
		background: #000;
		position: absolute;
		margin: -1px 0 0 -15px;
		@include border-radius(0);
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}

	&:hover {
		&:after,
		&:before {
			opacity: 1;
			background: #000;
		}
	}

	@media (min-width: $screen-md-min) {
		top: 10px;
		right: 10px;
	}
}