
.btn {
	color: #000;
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	padding: 20px 32px;

	border: none;
	outline: none;
	letter-spacing: 1px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ffd200;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #000;
		background: #fbdc4e;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		line-height: 2rem;
	}
}

.btn_gray {
	color: #fff;
	background: #8a9199;

	&:hover {
		color: #fff;
		background: #696b6e;
	}
}

.btn_blue {
	color: #003f6b;
	background: #00a0cc;

	&:hover {
		color: #003f6b;
		background: #fff;
	}
}

.btn_md {
	font-size: 1.2rem;
	padding: 1.3rem 3.2rem;
}

.btn_border {
	width: 100%;
	color: #003f6b;
	outline: none;
	cursor: pointer;
	text-align: left;
	font-weight: 700;
	user-select: none;
	font-size: 1.8rem;
	position: relative;
	line-height: 2.2rem;
	white-space: nowrap;
	letter-spacing: 0.5px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #003f6b;
	background: transparent;
	text-transform: uppercase;
	padding: 22px 38px 22px 100px;
	@include border-radius(5px);

	i {
		position: absolute;
		display: inline-block;
	}

	.ico-svg {
		fill: #003f6b;
	}

	&:hover {
		color: #fff;
		background: #003f6b;

		.ico-svg {
			fill: #fff;
		}
	}


	&.btn_pdf {
		padding-left: 100px;

		i {
			top: 25px;
			left: 40px;
			width: 38px;
			height: 37px;
		}
	}

	&.btn_youtube {
		padding-left: 132px;

		i {
			top: 25px;
			left: 60px;
			width: 52px;
			height: 37px;
		}
	}
}

.btn_send {
	padding: 15px 32px;
}