.form_control {
	margin: 0;
	width: 100%;
	height: 50px;
	outline: none;
	color: #808080;
	padding: 1.4rem;
	overflow: hidden;
	background: #fff;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ccc;
	@include placeholder(#808080);
	@include transition(.3s);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
		@include transition(.3s);
	}

	&.error {
		border-color: brown;
	}
}

textarea.form_control {
	height: auto;
}

.form_group {
	margin-bottom: 10px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 20px;
	}
}

